*

!15puzzle-korf0.w
!15puzzle-korf1.w
!3list-small.tex
!3list.tex
!3test.mf
!5chains0.w
!5chains10.db
!5chains10.in
!5chains1.ch
!5chains7.in
!5chains8.in
!5chains9.in
!5chainsf.ch
!5chainsf.db
!5chainsi.w
!5chainsj.ch
!5chainst.w
!5chainsx.w
!5chainsy-math.ch
!5chainsy.w
!6list.tex
!6test.mf
!7x15life1.dat
!7x15life2.dat
!7x15life3.dat
!7x15life4.dat
!8list.tex
!aah.tex
!abstime.w
!abstract.plaintex
!accent.mf
!access.c
!achain0.w
!achain1.w
!achain2.w
!achain3.w
!achain4.w
!achain-all.w
!achain-decode.w
!advent.w
!alpha.mms
!amsmodes.mf
!amsppt.sty
!amssym.def
!amssym.tex
!amstex.tex
!anna.dat
!antislide3.w
!antislide-nocorner.ch
!antislide.w
!arithprog-3-100-27.cnf
!arithprog-3-100-27.sat
!arithprog-3-99-27.cnf
!arithprog-3-99-27.sat
!assign_lisa.ch
!assign_lisa.dsp
!assign_lisa.w
!back-20q-backmod9,15.ch
!back-20q-backmod9,15-indet.ch
!back-20q.w
!back-commafree4.w
!back-dissect.w
!back-mxn-words-mxn.w
!back-mxn-words-new.w
!back-pdi.w
!back-skeleton-shortest.w
!bdd12.w
!bdd14.w
!bdd15.w
!bddl-rgrowth.w
!bddread.w
!bdemo_ext.c
!bdemo_ext.c-sparc
!bdemo_ext.h
!bdemo_ext.h-sparc
!bible12.mf
!bigacc.mf
!bigdel.mf
!bigop.mf
!bigwlist.tex
!binarydemo.p
!binarydemo.p-sparc
!blackaps.mf
!blackdvi.tex
!blackimagen.mf
!blacklino.mf
!blacklj.mf
!black.mf
!blank.w
!boilerplate.w
!book_components.ch
!book_components.dsp
!book_components.w
!boolcode.w
!bool.m
!calu.mf
!cccsc10.mf
!ccmi10.mf
!ccmic9.mf
!ccr10.mf
!ccr5.mf
!ccr6.mf
!ccr7.mf
!ccr8.mf
!ccr9.mf
!ccsl10.mf
!ccsl9.mf
!ccslc9.mf
!ccti10.mf
!celtica13.mf
!celtica.mf
!celticb13.mf
!celticb.mf
!celtic-paths.w
!celtic-picture.1
!chains-mdfa7.cnf
!chains-mdfa7.sat
!chains-mdfa8.cnf
!chains-mdfa8.sat
!chains-mod3block.cnf
!chains-mod3block.sat
!chains-s13,s23,s4.cnf
!chains-s13,s23,s4.sat
!cheshire.dots
!cheshire-tom.dat
!chvatal-12.gb
!cities.texmap
!c++lib.w
!closest-200-50-90-100-314159.cnf
!closest-200-50-90-100-314159.sat
!closest-noisybio-42.cnf
!closest-noisybio-42.sat
!closest-noisybio-43.cnf
!closest-noisybio-43.sat
!cm85.bug
!cmb10.mf
!cmbase.mf
!cmbase.mft
!cmbsy10.mf
!cmbx10.mf
!cmbx12.mf
!cmbx5.mf
!cmbx6.mf
!cmbx7.mf
!cmbx8.mf
!cmbx9.mf
!cmbxcd10.mf
!cmbxsl10.mf
!cmbxti10.mf
!cmbxti12.mf
!cmbxti7.mf
!cmcsc10.mf
!cmcscsl10.mf
!cmdunh10.mf
!cmex10.mf
!cmex9.mf
!cmff10.mf
!cmfi10.mf
!cmfib8.mf
!cmfibs8.mf
!cminch.mf
!cmitt10.mf
!cmitt12.mf
!cmitt9.mf
!cmman.mf
!cmmi10.mf
!cmmi12.mf
!cmmi5.mf
!cmmi6.mf
!cmmi7.mf
!cmmi8.mf
!cmmi9.mf
!cmmib10.mf
!cmntex10.mf
!cmntt10.mf
!cmr10.mf
!cmr12.mf
!cmr17.mf
!cmr5.mf
!cmr6.mf
!cmr7.mf
!cmr8.mf
!cmr9.mf
!cmsl10.mf
!cmsl12.mf
!cmsl6.mf
!cmsl8.mf
!cmsl9.mf
!cmsltt10.mf
!cmsltt9.mf
!cmss10.mf
!cmss12.mf
!cmss17.mf
!cmss8.mf
!cmss9.mf
!cmssbx10.mf
!cmssbxo10.mf
!cmssdc10.mf
!cmssi10.mf
!cmssi12.mf
!cmssi17.mf
!cmssi8.mf
!cmssi9.mf
!cmsslu30.mf
!cmssq8.mf
!cmssqi8.mf
!cmssu30.mf
!cmsy10.mf
!cmsy5.mf
!cmsy6.mf
!cmsy7.mf
!cmsy8.mf
!cmsy9.mf
!cmsytt10.mf
!cmtcsc10.mf
!cmtex10.mf
!cmtex8.mf
!cmtex9.mf
!cmti10.mf
!cmti12.mf
!cmti7.mf
!cmti8.mf
!cmti9.mf
!cmtim.mf
!cmtt10.mf
!cmtt12.mf
!cmtt8.mf
!cmtt9.mf
!cmu10.mf
!cmvtt10.mf
!cmvtti10.mf
!co-debruijn.m
!co-debruijn.w
!colordvi.tex
!color-mode.el
!comlig.mf
!commafree-eastman-new.w
!commafree-eastman.w
!comm-amiga.ch
!comm-bs.ch
!comm-mac.ch
!comm-man.ch
!common.c
!common.h
!common.w
!comm-os2.ch
!comm-pc.ch
!comm-ql.ch
!comm-vms.ch
!comm-w32.ch
!connection-dudeneymod1.cnf
!connection-dudeneymod1.sat
!connection-dudeneymod2.cnf
!connection-dudeneymod2.sat
!contiguous-usa.dat
!contiguous-usa.gb
!coolcomb.mms
!copy.mms
!cp.mms
!crypto1.mms
!crypto2.mms
!crypto.mms
!csc.mf
!cscspu.mf
!ctang-bs.ch
!ctangle.c
!ctangle.w
!ctang-man.ch
!ctang-pc.ch
!ctang-ql.ch
!ctang-vms.ch
!ctang-w32.ch
!ctwimac.tex
!cweav-bs.ch
!cweave.w
!cweav-man.ch
!cweav-pc.ch
!cweav-ql.ch
!cweav-vms.ch
!cweav-w32.ch
!cweb.1
!cweb.el
!cwebmac.tex
!cwebman.tex
!cyracc.def
!d4g6-50-0.gb
!dadda-18-19-111111111111.cnf
!dadda-18-19-111111111111.sat
!dadda-19-19-111111111111.cnf
!dadda-19-19-111111111111.sat
!dadda-20-20-111111111111.cnf
!dadda-20-20-111111111111.sat
!dadda-9-9-miter.cnf
!dadda-9-9-miter.sat
!dadda-lifo-18-19-111111111111.cnf
!dadda-lifo-18-19-111111111111.sat
!dadda-lifo-19-19-111111111111.cnf
!dadda-lifo-19-19-111111111111.sat
!dadda-lifo-20-20-111111111111.cnf
!dadda-lifo-20-20-111111111111.sat
!dance-random.ch
!dance.w
!david.dat
!decagon-color.ch
!decagon-colorstar.ch
!decagon-star.ch
!decagon.w
!deco.5
!deluxe.mmconfig
!diam12.mf
!dimacs-to-sat.w
!domination.w
!domino.mf
!dot-diff-eps.ch
!dot-diff.w
!dragon-calc.w
!dudeney-connections.dat
!dvityext.c
!dvityext.h
!dvitype.1
!dvitype.ch
!dvitype.in
!dvitype.p
!dvitype.web
!ebigop.mf
!echo.mms
!econ.dat
!econ_order.ch
!econ_order.dsp
!econ_order.w
!embed.w
!e.mft
!epsf.tex
!erdos-1000.cnf
!erdos-1000.sat
!erdos-1160.cnf
!erdos-1160.sat
!erdos-500.cnf
!erdos-500.sat
!erdos-750.cnf
!erdos-750.sat
!erection.w
!ERRATA
!errata.eight
!errata.eleven
!errata.five
!errata.four
!errata.nine
!errata.one
!errata.seven
!errata.six
!errata.ten
!errata.tex
!errata.three
!errata.two
!errorlog.tex
!euler-trail.w
!examples.dsp
!expr.mf
!ext.c
!extex.ch
!extex.w
!ext.h
!ezgraph-named.ch
!ezgraph.w
!fchains4x-dontcares.ch
!fchains4x.w
!fchains5.w
!fftswap.mms
!fibgo.mms
!fib.mms
!fibsub.mms
!files.txt
!flower-snark-line.w
!fog2mf.w
!fontchart.tex
!football.ch
!football.dsp
!football.w
!four-bits-ez.alemmas
!four-bits-ez.blemmas
!four-bits-ez.dat
!four-bits-ez.lemmas
!francon.w
!free3.dat
!free4.dat
!free5.dat
!free6.dat
!frngdb.f
!frng.f
!fsnark-99.cnf
!fsnark-99.sat
!fsnark-subset-99.cnf
!fsnark-subset-99.sat
!games.dat
!garsia-wachs.w
!gates-stuck-0B43:43.cnf
!gates-stuck-0B43:43.sat
!gates-stuck-0D341309.cnf
!gates-stuck-0D341309.sat
!gates-stuck-hardest.sh
!gates-stuck.w
!gates-to-wires.w
!gb_basic.ch
!gb_basic.w
!gb_books.ch
!gb_books.w
!gb_dijk.ch
!gb_dijk.w
!gb_econ.ch
!gb_econ.w
!gb_flip.ch
!gb_flip.w
!gb_games.ch
!gb_games.w
!gb_gates.ch
!gb_gates.w
!gb_graph.ch
!gb_graph.w
!gb_io.ch
!gb_io.w
!gb_lisa.ch
!gb_lisa.w
!gb_miles.ch
!gb_miles.w
!gb_plane.ch
!gb_plane.w
!gb_raman.ch
!gb_raman.w
!gb_rand.ch
!gb_rand.w
!gb_roget.ch
!gb_roget.w
!gb_save.ch
!gb_save.w
!gb_sort.ch
!gb_sort.w
!gb_types.w
!gb_words.ch
!gb_words.w
!gdance-cutoff.ch
!gdance.w
!gen10.mf
!gen8.mf
!gen9.mf
!gen.mf
!gf2dvi.ch
!gftodvi.1
!gftodvi.ch
!gftodvi.web
!gftopk.1
!gftopk.ch
!gftopk_ext.c
!gftopk_ext.h
!gftopk.web
!gftype.1
!gftype.ch
!gftype.in
!gftype.web
!girth.ch
!girth.dsp
!girth.w
!.gitignore
!gkpmac.tex
!glue.web
!GPCtypes.h
!graph-cyc.w
!graph-sig-v0.w
!grayaps.mf
!grayf.mf
!grayimagen3.mf
!grayimagenlight.mf
!grayimagen.mf
!graylj.mf
!gray.mf
!grayspan.w
!grayspspan.w
!greekl.mf
!greeku.mf
!h00vars.h
!halftone.w
!halves.mmix
!halves.mms
!hamdance.w
!ham.w
!harm.mms
!hello.mms
!homer.dat
!horn-count.w
!hptest.mms
!huck.dat
!hulld-ngon.ch
!hulld-square.ch
!hulld-unif.ch
!hulls.w
!hulltr.w
!hullt.w
!hull.w
!hwb-fast.w
!hyman.dat
!hyperbolic.mp
!hyperbolic.w
!hyphen.tex
!inimf.ch
!initex.ch
!ini_to_trap
!ini_to_trip
!ini_to_vir
!inout.mms
!io.mf
!iotest1.mms
!iotest2.mms
!iotest.mms
!itald.mf
!italig.mf
!itall.mf
!italms.mf
!italp.mf
!italsp.mf
!jean.dat
!jensen.txt
!kepler.mp
!knight3.gb
!knight3.txt
!koda-ruskey.w
!krom-count.ch
!kspell.el
!ladders.ch
!ladders.dsp
!ladders.w
!lagfib.w
!langford-10.cnf
!langford-10.sat
!langford-13.cnf
!langford-13.sat
!langford-24.cnf
!langford-24.sat
!langford-32.cnf
!langford-32.sat
!langford-64.cnf
!langford-64.sat
!langfordprime-10.cnf
!langfordprime-10.sat
!langfordprime-13.cnf
!langfordprime-13.sat
!langfordprime-24.cnf
!langfordprime-24.sat
!langfordprime-32.cnf
!langfordprime-32.sat
!langfordprime-64.cnf
!langfordprime-64.sat
!langford.w
!latebinding-1603.cnf
!latebinding-1603.sat
!latebinding-2390.cnf
!latebinding-2390.sat
!lcircle10.mf
!lcircle.mf
!lcirclew10.mf
!letter.tex
!lexlast-5x18
!lexlast-5x19
!lib-128.ps
!lib-64.ps
!libgb.dsp
!lib-rot.ps
!life-3-38.cnf
!life-3-38.sat
!life-3-39.cnf
!life-3-39.sat
!life-4.cnf
!life-4.sat
!life-upper-7-7.cnf
!life-upper-7-7.sat
!lin-128.ps
!lin-64.ps
!line10.mf
!line.mf
!linew10.mf
!linked-trees.w
!lin-rot.ps
!li-ruskey.1
!li-ruskey.mp
!li-ruskey.w
!lisa-128.ps
!lisa-512.ps
!lisa-64.ps
!lisa.dat
!lisa-rot.ps
!list.tex
!llist.tex
!local.mf
!local.tex
!logmac.tex
!logo10.mf
!logo8.mf
!logo9.mf
!logobf10.mf
!logod10.mf
!logo.mf
!logosl10.mf
!logosl9.mf
!lp.w
!macmahon-triangles-sym-tile.w
!makeboard.w
!makefile
!Makefile
!makefile.bs
!makefile.dos
!Makefile-sparc
!make_prod.w
!manfnt.mf
!manmac.tex
!mathex.mf
!mathit.mf
!mathsy.mf
!mathwriting.tex
!maxcliques.w
!mcgregor-f10le6-bb.cnf
!mcgregor-f10le6-bb.sat
!mcgregor-f10le6-sinz.cnf
!mcgregor-f10le6-sinz.sat
!mcgregor-f10le7-bb.cnf
!mcgregor-f10le7-bb.sat
!mcgregor-f10le7-sinz.cnf
!mcgregor-f10le7-sinz.sat
!mcgregor-f16le11-bb.cnf
!mcgregor-f16le11-bb.sat
!mcgregor-f16le12-bb.cnf
!mcgregor-f16le12-bb.sat
!mcgregor-graph.w
!mcgregor-h9ge18.cnf
!mcgregor-h9ge18.sat
!mcgregor-h9ge19.cnf
!mcgregor-h9ge19.sat
!mf.1
!mf84.bug
!mf_arith.c
!mfbook.tex
!mfman.mf
!mfpaths.h
!mf.pool
!mf_sunwin.c
!mft.1
!mft.ch
!mft_ext.c
!mft_ext.h
!mftmac.tex
!mft.web
!mf.web
!mf_window.h
!miles.dat
!miles_span.ch
!miles_span.dsp
!miles_span.w
!mintimesort-9516273849.cnf
!mintimesort-9516273849.sat
!mintimesort-9616273849.cnf
!mintimesort-9616273849.sat
!mmix.1
!mmixal.w
!mmix-arith.w
!mmix-config.w
!mmix-doc.w
!mmix-io.w
!mmix-mem.w
!mmix.mp
!mmix-pipe.w
!mmix-sim.w
!mmmix.w
!mmotype.w
!mproof.tex
!multiply.ch
!multiply.dsp
!multiply.w
!mutex-fourbits-distinct-alemmas-11.cnf
!mutex-fourbits-distinct-alemmas-11.sat
!mutex-fourbits-distinct-alemmas-12.cnf
!mutex-fourbits-distinct-alemmas-12.sat
!mutex-fourbits-distinct-blemmas-36.cnf
!mutex-fourbits-distinct-blemmas-36.sat
!mutex-fourbits-distinct-blemmas-37.cnf
!mutex-fourbits-distinct-blemmas-37.sat
!mutex-fourbits-lemmas-1.cnf
!mutex-fourbits-lemmas-1.sat
!mutex-fourbits-starve-alemmas-11.cnf
!mutex-fourbits-starve-alemmas-11.sat
!mutex-fourbits-starve-blemmas-36.cnf
!mutex-fourbits-starve-blemmas-36.sat
!mutex-peterson-100.cnf
!mutex-peterson-100.sat
!mutex-peterson-distinct-54.cnf
!mutex-peterson-distinct-54.sat
!mutex-peterson-distinct-55.cnf
!mutex-peterson-distinct-55.sat
!mutex-turns-100.cnf
!mutex-turns-100.sat
!mutilated-10-10.cnf
!mutilated-10-10.sat
!mutilated-12-12.cnf
!mutilated-12-12.sat
!nnncmbx.mf
!null.mf
!null.tex
!number1.mms
!obdd.w
!odigs.mf
!oemacs.el
!oemacs.w
!olddig.mf
!oneone.mf
!orient-express.gb
!oss-8-1000-.5-256-31415-1058.cnf
!oss-8-1000-.5-256-31415-1058.sat
!oss-8-1000-.5-256-31415-1059.cnf
!oss-8-1000-.5-256-31415-1059.sat
!oss-data.ch
!oss-data.w
!permu-heap.mms
!permu-langdon.mms
!permu-plain.mms
!permu-st.mms
!peterson.dat
!phi.mms
!picmac.tex
!pktype.1
!pktype.ch
!pktype.web
!plain.base
!plain.fmt
!plain.log
!plain.mf
!plain.mft
!plain.mmconfig
!plain.tex
!pltotf.1
!pltotf.ch
!pltotf.p
!pltotf.web
!polyenum.w
!polyiamonds.w
!polynum-restart.ch
!polynum.w
!polyominoes.w
!polyomino.mp
!polyslave-restart.ch
!polyslave.w
!polysticks.w
!pooltype.1
!pooltype.ch
!pooltype.p
!pooltype.web
!poptest.mms
!popup.mms
!poset-nomax-20.cnf
!poset-nomax-20.sat
!poset-nomax-21.cnf
!poset-nomax-21.sat
!poset-nomax-a-14.cnf
!poset-nomax-a-14.sat
!poset-nomax-b-12.cnf
!poset-nomax-b-12-minus-one.cnf
!poset-nomax-b-12-minus-one.sat
!poset-nomax-b-12.sat
!poset-nomax-b-20-minus-one.cnf
!poset-nomax-b-20-minus-one.sat
!posets0.w
!posets.w
!primes6.mms
!primesf.mms
!primesfx.mms
!prime-sieve-boot.ch
!prime-sieve-sparse.w
!prime-sieve.w
!primes.mmconfig
!primes.mmix
!primes.mms
!primessf.mms
!primesx.mmconfig
!primesx.mms
!prod.w
!proofmac.tex
!punct.mf
!pushtest.mms
!queen-5x5-5.cnf
!queen-5x5-5.sat
!queen-8x8-8.cnf
!queen-8x8-8.sat
!queen-8x8-9.cnf
!queen-8x8-9.sat
!queen.ch
!queen.dsp
!queen-exclusion-8x8-8.cnf
!queen-exclusion-8x8-8.sat
!queen-exclusion-8x8-9.cnf
!queen-exclusion-8x8-9.sat
!queen-graph.w
!queen-kernel-8x8-8.cnf
!queen-kernel-8x8-8.sat
!queen-kernel-8x8-9.cnf
!queen-kernel-8x8-9.sat
!queen-log2-5x5-5.cnf
!queen-log2-5x5-5.sat
!queen-log2-8x8-8.cnf
!queen-log2-8x8-8.sat
!queen-log2-8x8-9.cnf
!queen-log2-8x8-9.sat
!queen-log3-5x5-5.cnf
!queen-log3-5x5-5.sat
!queen-log3-8x8-9.cnf
!queen-log3-8x8-9.sat
!queen-log-5x5-5.cnf
!queen-log-5x5-5.sat
!queen-log-8x8-8.cnf
!queen-log-8x8-8.sat
!queen-log-8x8-9.cnf
!queen-log-8x8-9.sat
!queen-order-8x8-8.cnf
!queen-order-8x8-8.sat
!queen-order-8x8-9.cnf
!queen-order-8x8-9.sat
!queen-order-cliques-8x8-8.cnf
!queen-order-cliques-8x8-8.sat
!queen-order-cliques-8x8-9.cnf
!queen-order-cliques-8x8-9.sat
!queen-order-organpipe-8x8-8.cnf
!queen-order-organpipe-8x8-8.sat
!queen-order-organpipe-8x8-9.cnf
!queen-order-organpipe-8x8-9.sat
!queens-100.cnf
!queens-100.sat
!queen-support-8x8-8.cnf
!queen-support-8x8-8.sat
!queen-support-8x8-9.cnf
!queen-support-8x8-9.sat
!queens.w
!queen.w
!queen_wrap.ch
!rand-3-1061-250-314159.cnf
!rand-3-1061-250-314159.sat
!rand-3-1062-250-314159.cnf
!rand-3-1062-250-314159.sat
!rand-d4g6.w
!random.mf
!random-ternary-quads.ch
!random-ternary.w
!ran-prim.w
!README
!README.AMIGA
!README.md
!README.MSVC
!README.PROTOTYPES
!readme.ql
!reflect.ch
!reflect.w
!rng.c
!rng-double.c
!roget_components.ch
!roget_components.dsp
!roget_components.w
!roget.dat
!romand.mf
!romanl.mf
!roman.mf
!romanp.mf
!romanu.mf
!romlig.mf
!romms.mf
!romspl.mf
!romspu.mf
!romsub.mf
!rost.w
!rotate.tex
!rtest.mf
!saddle1.mms
!saddle2.mms
!sample.correct
!sand.w
!sat0.w
!sat0w.w
!sat10.w
!sat11k.ch
!sat11.w
!sat12-erp.w
!sat12.w
!sat13.w
!sat8.w
!sat9.w
!sat-arithprog.w
!sat-chains-lex-1234.ch
!sat-chains.w
!sat-closest-string-dat.w
!sat-closest-string.w
!sat-color-exclusion.w
!sat-color-kernel.w
!sat-color-log2.w
!sat-color-log3.w
!sat-color-log.w
!sat-color-order.w
!sat-color-snark1.ch
!sat-color-snark2.ch
!sat-color-snark3.ch
!sat-color-snark4.ch
!sat-color-snark5.ch
!sat-color-snark-subset.ch
!sat-color.w
!sat-commafree.w
!sat-connection.w
!sat-dadda-lifo.ch
!sat-dadda-miter.ch
!sat-dadda.w
!sat-dance-aspvall.ch
!sat-dance-heule.ch
!sat-dance-prestwich.ch
!sat-dance.w
!sat-erdos-disc-res.ch
!sat-erdos-disc.w
!sat-eulerian-balance.w
!sat-gates-stuck-namekludge.ch
!sat-gates-stuck.w
!sat-graph-cyc.ch
!sat-graph-quench-noncomm-latebinding-random.ch
!sat-graph-quench.w
!sat-life-filter.w
!sat-life-grid90.ch
!sat-life-grid90-cycle.ch
!sat-life-grid.ch
!sat-life-grid-cycle.ch
!sat-life-grid-eater.ch
!sat-life-gridquad.ch
!sat-life-gridquad-cycle.ch
!sat-life-grid-spaceships.ch
!sat-life-grid-spaceships-sym.ch
!sat-life-torus.ch
!sat-life-torus-cycle.ch
!sat-life-upper.ch
!sat-life.w
!sat-mintime-sort.w
!sat-mutex-distinct.ch
!sat-mutex-distinct-lemmas.ch
!sat-mutex-starve.ch
!sat-mutex-starve-lemmas.ch
!sat-mutex.w
!sat-newlangford.w
!sat-oss-sym.ch
!sat-oss-sym-scaled.ch
!sat-oss.w
!sat-poset-nomax-a.ch
!sat-poset-nomax-b.ch
!sat-poset-nomax.w
!sat-queens-color-order-cliques2.w
!sat-queens-color-order-cliques.w
!sat-queens-color-order-organpipe.ch
!sat-rand-rep.w
!sat-synth-data.w
!sat-synth-trunc-kluj.ch
!sat-synth.w
!sat-tatami-mutilated.ch
!sat-tatami.w
!sat-threshold-bb-equal.w
!sat-threshold-bb-graphs.ch
!sat-threshold-bb-graphs-double.ch
!sat-threshold-bb-life15.ch
!sat-threshold-bb.w
!sat-threshold-sinz-graphs.ch
!sat-threshold-sinz.w
!sat-to-dimacs.w
!sat-tomography-2nd.ch
!sat-tomography-filter.w
!sat-tomography-prep-2nd.ch
!sat-tomography-prep.w
!sat-tomography.w
!sat-tseytin.w
!sat-waerden.w
!sat-zarank-symm.ch
!sat-zarank.w
!schains.w
!setset-all.w
!setset-random.w
!setset.w
!sgb.dsw
!sgbfig.mp
!sgb-words.txt
!sham.w
!silly.mms
!silly.out
!silly.run
!sim.mms
!simpath-cycles.ch
!simpath-directed-cycles.w
!simpath-example.log
!simpath-ham-any.ch
!simpath-ham.ch
!simpath-reduce.w
!simpath.w
!skew-ternary-calc.mp
!skew-ternary-calc.pdf
!skew-ternary-calc-raw.ch
!skew-ternary-calc.w
!slantaps4.mf
!slantimagen4.mf
!slantimagen6.mf
!slantlino4.mf
!slantlj4.mf
!slant.mf
!sliding.w
!slist.tex
!SMakefile
!snfont.mf
!sort.mms
!sortx.mms
!spgraph.w
!spiders.w
!spspan.mp
!spspan.w
!squaregraph-rand.w
!squaregraph.w
!story.tex
!straighten.w
!strcpy.mms
!strongchain.w
!sub1.mms
!sub2.mms
!sudoku.w
!symbol.mf
!sym.mf
!synth-20-4-108.cnf
!synth-20-4-108.sat
!synth-20-4-109.cnf
!synth-20-4-109.sat
!take_risc.ch
!take_risc.dsp
!take_risc.w
!taking-turns.dat
!tangext.c
!tangext.h
!tangle.1
!tangle.ch
!tangle.p
!tangle.p1
!tangle.p-edited
!tangle.web
!taocp-4knight.cnf
!taocp-4knight.sat
!taocp-5knight.cnf
!taocp-5knight.sat
!tatami.cnf
!tatami.dots
!tatamii.cnf
!tatamii.dots
!tatamii.sat
!tatami.sat
!tcalc.w
!tcb.tex
!test1.mmconfig
!test1.mmix
!test2.mmconfig
!test2.mmix
!test.correct
!test.dat
!test_flip.dsp
!testfont.tex
!test_graph.dsp
!test_io.dsp
!test.mf
!test.mmconfig
!test.mmix
!test.mms
!test_sample.ch
!test_sample.dsp
!test_sample.w
!tests.dsp
!tex.1
!tex82.bug
!texbook.tex
!texpaths.h
!tex.pool
!texset.mf
!textit.mf
!texwarext.h
!tex.web
!tftopl.1
!tftopl.ch
!tftopl.p
!tftopl.pool
!tftopl.web
!+The+Stanford+GraphBase+
!tictactoe0.w
!tictactoe1.w
!tictactoe2.w
!tictactoe3.w
!tictactoe4.w
!tictactoe5.w
!tictactoe6.w
!tictactoe7.w
!tinywlist.tex
!title.mf
!togpap.w
!tomography-2nd.cnf
!tomography-2nd-other.cnf
!tomography-2nd-other.sat
!tomography-2nd.sat
!tomography-lexlast-5x18.cnf
!tomography-lexlast-5x18.sat
!tomography-lexlast-5x19.cnf
!tomography-lexlast-5x19.sat
!topswops-fwd.w
!topswops.w
!tpk.i
!tpk.in
!tpk.out
!traffic.mms
!trap1.in
!trap2.in
!trap.fot
!trapin.log
!trap.log
!trapman.tex
!trap.mf
!trap.pl
!trap.typ
!treeprint.w
!treeprobs.w
!trials
!trip1.in
!trip2.in
!trip.fot
!tripin.log
!trip.log
!tripman.tex
!tripos.tex
!trip.pl
!trip.tex
!trip.tfm
!trip.typ
!tset.mf
!tsetsl.mf
!twimac.tex
!ulam-longlong.ch
!ulam.w
!unavoidable2.w
!unavoidable.w
!unicode.tex
!vacillate.w
!valid.mms
!vftovp.1
!vftovp.ch
!vftovp.p
!vftovp.web
!viennot.w
!vptovf.1
!vptovf.ch
!vptovf.p
!vptovf.web
!waerden-3-10-97.cnf
!waerden-3-10-97.sat
!waerden-3-13-159.cnf
!waerden-3-13-159.sat
!waerden-5-5-177.cnf
!waerden-5-5-177.sat
!waerden-5-5-178.cnf
!waerden-5-5-178.sat
!waits.mf
!wc-dos.ch
!wc.w
!weave.1
!weave.ch
!weave.p
!weave.web
!weavext.c
!web.1
!webmac.tex
!webman.tex
!wlist.tex
!wmerge.w
!wmerg-pc.ch
!wmer-os2.ch
!word_components.ch
!word_components.dsp
!word_components.w
!word_giant.ch
!words10-from-OSPD4
!words2-from-OSPD4
!words3-from-OSPD4
!words4-from-OSPD4
!words5-from-OSPD4
!words5-from-sgb
!words6-from-OSPD4
!words7-from-OSPD4
!words8-from-OSPD4
!words9-from-OSPD4
!words.dat
!wordtest.w
!xepsf.tex
!xgdance.w
!xlib_types.w
!xview_types.w
!yplay.w
!zddread-sols-all.ch
!zeilberger.w
!zero.mms
!ztest.mf

!*/